.slider {
    width: 425px;
    height: 70px;
    color: DodgerBlue;
}

h1 {
    font-family: 'Bruno Ace';
    color: #8430bd;
}

h2 {
    font-family: 'Pacifico';
}

p {
    font-family: 'Exo 2';
}

li {
    font-family: 'Exo 2';
}

a {
    transition: 0.2s;
    transition-timing-function: ease;
}

a:hover {
    font-size: 24px;
    color: #8430bd;
}

.backgroundC {
    background-color: #add8e6;
}